<marquee behavior="" direction="" scrollamount="10" style="width: 100%; background-color: black; color: orangered;">
  Grab the 50% opportunity. Limited offer till 15th August
</marquee>

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
      <button type="button" style="background-color: yellow;" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" style="background-color: yellow;" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" style="background-color: yellow;" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner" style="margin: auto; width: 100%; margin-top: 1rem; padding: 1rem; border:2px solid salmon">
      <div class="carousel-item active">
        <img src="https://www.toysrusmena.com/__uae/_next/image/?url=https%3A%2F%2Fcdn.toysrusmena.com%2Fcontent%2Fmedia%2F572a14a8-fdc1-44f1-9eb3-6ffd0e54ee9f.png&w=2048&q=90" class="d-block w-100" alt="..." style="width: 100%; height:100%;">
      </div> 
      <div class="carousel-item">
        <img src="https://www.toysrusmena.com/__uae/_next/image/?url=https%3A%2F%2Fcdn.toysrusmena.com%2Fcontent%2Fmedia%2F06b31a92-1d3b-4e39-b997-31f34840a024.png&w=2048&q=90" class="d-block w-100" alt="..." style="width: 100%; height:100%;">
      </div>
      <div class="carousel-item">
        <img src="https://www.toysrusmena.com/__uae/_next/image/?url=https%3A%2F%2Fcdn.toysrusmena.com%2Fcontent%2Fmedia%2Ff645867b-ef8d-4cdd-aa26-9fa1d323e08c.png&w=2048&q=90" class="d-block w-100" alt="..." style="width: 100%; height:100%;">
      </div>
  </div>
    <button style="display: flex; align-items: center; background-color: red; height: 40px; top: 50%; width: 40px; border-radius: 50%; left: 1%;" class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev" style="color: orangered;" >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button style="display: flex; align-items: center; background-color: red; height: 40px; top: 50%; width: 40px; border-radius: 50%; right: 1%;" class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
<h1 class="heading">Book Events</h1>
<div class="disp-div"
    style="height: auto; width: auto; display: flex; margin: 1rem; flex-wrap: wrap; gap: 1.5rem 1.5rem; padding: 2rem;">

        <img src="https://static2.mumzworld.com/media/catalog/product/e/s/ess-sn003-essen-fidget-toys-set-30pc-1618519716.jpg"
        class="img-size img-hover" alt=""
        style="display:inline; position: relative; height: 80%; width: 30%;">

    <img src="https://4.imimg.com/data4/UV/ET/MY-10683197/toy-kitchen-set-500x500.jpg"
        class="img-size img-hover" alt=""
        style="display:inline; position: relative; height: 80%; width: 30%;">
    <img src="https://4.imimg.com/data4/UV/ET/MY-10683197/toy-kitchen-set-500x500.jpg"
        class="img-size img-hover" alt=""
        style="display:inline; position: relative; height: 80%; width: 30%;">
    <img src="https://4.imimg.com/data4/UV/ET/MY-10683197/toy-kitchen-set-500x500.jpg"
        class="img-size img-hover" alt=""
        style="display:inline; position: relative; height: 80%; width: 30%;">
    <img src="https://4.imimg.com/data4/UV/ET/MY-10683197/toy-kitchen-set-500x500.jpg"
        class="img-size img-hover" alt=""
        style="display:inline; position: relative; height: 80%; width: 30%;">
    <img src="https://4.imimg.com/data4/UV/ET/MY-10683197/toy-kitchen-set-500x500.jpg"
        class="img-size img-hover" alt=""
        style="display:inline; position: relative; height: 80%; width: 30%;">
</div>

<h1>EXplore Fun with Us</h1>
<div class="d-flex flex-row" style="height: auto; width: auto; display: flex; margin: 1rem; flex-wrap: wrap; gap: 1.5rem 1.5rem; padding: 2rem;">
    <video src="https://www.w3schools.com/css/mov_bbb.mp4" class="videos" controls></video>
    <video src="https://www.w3schools.com/css/mov_bbb.mp4" class="videos" controls></video>
    <video src="https://www.w3schools.com/css/mov_bbb.mp4" class="videos" controls></video>
</div>

