
<div  class="card my-lg-3 mx-3" style="width: 18rem; background-color: rgb(161, 161, 161);">
    <div  class="card-body flex-fill mb-3">
        <h6 class="card-subtitle mb-2 text-muted">Joined on <%= element.createdAt.toString().slice(0,15) %>
        </h6>
        <h5 class="card-title">
            Name: <%= element.manager_name %>
        </h5>
        <h5 class="card-title">
            Email: <%= element.email %>
        </h5>
        <h5 class="card-title">
            Phone: <%= element.manager_phone %>
        </h5>
    </div>
    </div>
