<div class="disp-div" style="height: auto; width: auto; display: flex; margin: 1rem; flex-wrap: wrap; gap: 1.5rem 1.5rem; padding: 2rem;">
    <div class="container">
        <img src="images\p1.jpg" alt="Avatar" class="image" style="width:100%">
        <div class="middle">
          <div class="text">Birthday Booking</div>
        </div>
      </div>
    <div class="container">
        <img src="images\p2.jpg" alt="Avatar" class="image" style="width:100%">
        <div class="middle">
          <div class="text">New Year Party Booking</div>
        </div>
      </div>
    <div class="container">
        <img src="images\p3.jpg" alt="Avatar" class="image" style="width:100%">
        <div class="middle">
          <a href="/events/marriage">
            <div class="text">Marriage Booking</div>
          </a>
        </div>
      </div>
    <div class="container">
        <img src="images\p4.jpg" alt="Avatar" class="image" style="width:100%">
        <div class="middle">
          <div class="text">Marriage Anniversary Booking</div>
        </div>
